#################################
# Ignore Files in these Folders #
#################################
Binaries/
Intermediate/
Saved/
Content/

######################
# Ignore VC.db Files #
######################
*.VC.db
*.vs